@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

::selection {
  background-color: #bfdbfe; /* blue-200 */
  color: #1e3a8a; /* blue-900 */
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
